body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #212121;
}

.App {
  text-align: center;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.bottom-nav a {
  text-decoration: none;
  color: #757575;
  font-size: 18px;
}

.bottom-nav a.active {
  color: #00bcd4;
}
