.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 1100; /* Higher than BottomNav */
    overflow-y: auto;
    padding-bottom: 70px; /* Padding to avoid being covered by BottomNav */
}

.menu.open {
    transform: translateX(0);
}

.menu-profile {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #444;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 16px;
}

.menu-content {
    flex: 1;
    overflow-y: auto;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 16px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #555;
}

.menu-item svg {
    margin-right: 16px;
}

.logout-button {
    background: none;
    border: none;
    color: inherit;
    width: 100%;
    text-align: left;
    font: inherit;
    cursor: pointer;
    padding: 16px;
}

.logout-button:hover {
    background-color: #555;
}

.logout-confirmation {
    text-align: center;
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

.logout-confirmation p {
    color: #ffffff;
    margin-bottom: 20px;
}

.confirm-logout-button {
    padding: 10px 20px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.confirm-logout-button:hover {
    background-color: #c62828;
    transform: translateY(-2px);
}

.cancel-logout-button {
    padding: 10px 20px;
    background-color: #757575;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-logout-button:hover {
    background-color: #616161;
}
